# Class for Week 3 of Python
Here is code notebook for class 3. You can practice it.

## Assignment
Your first assignment is to write code for list operations

### 1. Indexing
Write code for retriving values from list by indexing and print a statement message for given lists

### Example 1
employee_data = ['Ali', 125000, 'Google', 5]<br>
output: 'Ali is working in Google for 5 years and his salary is 125000'

## Solution (Code)

In [61]:
employee_data = ['Ali', 125000, 'Google', 5]
print("{} is working in {} for {} years and his salary is {}".format(employee_data[0],employee_data[2],\
                                                                     employee_data[3],employee_data[1]))

Ali is working in Google for 5 years and his salary is 125000


### Example 2
studentData = ['Ahmed', 'Bilal', 'Government College University', 'Computer Science', 'BS', 50000,
				'28 Januray 2020', '05 February 2020']<br>
output:<br>

'Hello Ahmed Bilal,<br>
Your application is accepted for admission in "BS Computer Science" in Government College University.<br>
You have to submit fee 50000 before 28 January 2020.<br>
Your classes will start from 05 February 2020.<br>
Thanks'<br>

hint: Use list indexing and string format methods

## Solution (Code)

In [62]:
studentData = ['Ahmed', 'Bilal', 'Government College University', 'Computer Science',\
               'BS', 50000, '28 Januray 2020', '05 February 2020']
print("""Hello {} {},
Your application is accepted for admission in "{} {}" in {}.
You have to submit fee {} before {}.
Your classes will start from {}.
Thanks'""".format(studentData[0],studentData[1],studentData[4],studentData[3],\
                  studentData[2],studentData[5],studentData[6],studentData[7]))

Hello Ahmed Bilal,
Your application is accepted for admission in "BS Computer Science" in Government College University.
You have to submit fee 50000 before 28 Januray 2020.
Your classes will start from 05 February 2020.
Thanks'

## 2. Slicing<br>
You have a list of cities given as follows. Use positive and negative slicing methods to print out following outputs:

cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]<br>
Outputs:
### (For positive slicing)
1. ["Faisalabad", "Lahore", "Islamabad", "Peshawar"]<br>
2. ["Islamabad", "Peshawar", "Quetta", "Sahiwal"]<br>
3. ["Sahiwal", "Rawalpindi", "Sialkot"]<br>

## Solution (Code)

In [63]:
cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]
print("""{}
{}
{}""".format(cities[0:4],cities[2:-2],cities[5:]))

['Faisalabad', 'Lahore', 'Islamabad', 'Peshawar']
['Islamabad', 'Peshawar', 'Quetta', 'Sahiwal']
['Sahiwal', 'Rawalpindi', 'Sialkot']

### (For negative slicing)
1. ['Quetta', 'Sahiwal', 'Rawalpindi']<br>
2. ['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']<br>

## Solution (Code)

In [64]:
print("""{}
{}""".format(cities[-4:-1],cities[-5:]))

['Quetta', 'Sahiwal', 'Rawalpindi']
['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']

# 3. Update Lists
## 3.1 You have a list of student information. You need to update it for following statements

studentData = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]<br>

### 3.1.1 Add values to this list using append

1. '20 February 2019'
2. 8

## Solution (Code)

In [65]:
studentData = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]
studentData.append('20 February 2019') or studentData.append(8)
print(studentData)

['Ali Raza', 22, 91.24, 'Computer Science', 5, 'University of Agriculture', '20 February 2019', 8]

### 3.1.2 Use insert method to insert at specific index

1. 25000 at index 4
2. 'M. Iqbal' at index 1

## Solution (Code)

In [66]:
studentData.insert(4, 2500)
studentData.insert(1, "M. Iqbal")
print(studentData)

['Ali Raza', 'M. Iqbal', 22, 91.24, 'Computer Science', 2500, 5, 'University of Agriculture', '20 February 2019', 8]

### 3.1.3 Update list using list update method:

1. Change Name from 'Ali Raza' to 'Zohaib Ali'
2. Change No of subjects from 5 to 7

## Solution (Code)

In [67]:
studentData[0]="Zohaib Ali"
studentData[6]= 7
print(studentData)

['Zohaib Ali', 'M. Iqbal', 22, 91.24, 'Computer Science', 2500, 7, 'University of Agriculture', '20 February 2019', 8]

### 3.1.4 Remove values from list using remove method

1. 'Computer Science'
2. 91.24

## Sloution (code)

In [68]:
studentData.remove('Computer Science')
studentData.remove(91.24)
print(studentData)

['Zohaib Ali', 'M. Iqbal', 22, 2500, 7, 'University of Agriculture', '20 February 2019', 8]

### 3.1.5 Remove using pop method

1. Last value from list
2. value at 3rd index

## Sloution (code)

In [69]:
studentData.pop(-1)
studentData.pop(3)
print(studentData)

['Zohaib Ali', 'M. Iqbal', 22, 7, 'University of Agriculture', '20 February 2019']

# 4. Multidimensional list tasks 

## You have given data of an employee

employeeData = [["Ali", 35000, "Software Engineer"],
				["Talha", 55000, "Product Manager"],
				["Nasir", 79000, "Computer Engineer"],
				["Khalid", 44000, "DBA"]]

### 4.1 For loop tasks

1. Print name of employees with salaray greater than 50000.
2. Calculate total salary of all employees.

## Solution (Code)

In [72]:
employeeData = [["Ali", 35000, "Software Engineer"], ["Talha", 55000, "Product Manager"], \
                ["Nasir", 79000, "Computer Engineer"], ["Khalid", 44000, "DBA"]]
salary = 0
for i in employeeData:
    salary+= i[1]
    if i[1] >50000:
        print(i[0])
print("Total salary of all employees = {}".format(salary))

Talha
Nasir
Total salary of all employees = 213000

### 4.2 List update tasks

1. Change salary of nasir from 79000 to 90000 and designation to "Product Manager"
2. Change salary of Khalid to 50000

## Solution (Code)

In [76]:
employeeData[2][1] = 90000
employeeData[2][2] = "Product Manager"
employeeData[3][1] = 50000
print(employeeData)

[['Ali', 35000, 'Software Engineer'], ['Talha', 55000, 'Product Manager'], ['Nasir', 90000, 'Product Manager'], ['Khalid', 50000, 'DBA']]

# 5. Login User

You have given some users data. You have to write a script to check if username and password are correct. If username and password are correct. Then you have to check if email is verified or not. If it is verified then print Login Succeed else print Email not verified. If username or password are incorrect you have to print Incorrect Login details

##  5.1 Data 1
username = "faizan1214"<br>
password = "qwerty"<br>
emailVerified = False

## Solution (Code)

### Testing using Wrong credentials

In [81]:
# Data 1
username = "faizan1214"
password = "qwerty"
emailVerified = False

checkusername = input("Please Enter the username ")
checkpassword = input("Please Enter the password ")
if checkusername == username and password == checkpassword :
    if emailVerified:
        print("Login Success")
    else:
        print("Account not varified")
else:
    print("Wrong Credentials")

Please Enter the username Humayl
Please Enter the password 12345
Wrong Credentials

### Testing using Correct credentials

In [79]:
# Data 1
username = "faizan1214"
password = "qwerty"
emailVerified = False

checkusername = input("Please Enter the username ")
checkpassword = input("Please Enter the password ")
if checkusername == username and password == checkpassword :
    if emailVerified:
        print("Login Success")
    else:
        print("Account not varified")
else:
    print("Wrong Credentials")

Please Enter the username faizan1214
Please Enter the password qwerty
Account not varified

## 5.2 Data 2
username = "faizan1214"<br>
password = "qwerty"<br>
emailVerified = True

## Solution (Code)

In [80]:
# Data 2
username = "faizan1215"
password = "qwerty"
emailVerified = True

checkusername = input("Please Enter the username ")
checkpassword = input("Please Enter the password ")
if checkusername == username and password == checkpassword :
    if emailVerified:
        print("Login Success")
    else:
        print("Account not varified")
else:
    print("Wrong Credentials")

Please Enter the username faizan1215
Please Enter the password qwerty
Login Success